BETTER_AUTH_URL=http://localhost:3000/
USER_RESUMES_BUCKET_NAME=bucket-name
USER_RESUMES_BUCKET_ENDPOINT=bucket-endpoint
USER_RESUMES_BUCKET_ACCESS_KEY_ID=bucket-access-key-id
USER_RESUMES_BUCKET_SECRET_ACCESS_KEY=bucket-secret-access-key
DATABASE_URL=mongodb://localhost:27017/resume-builder
BETTER_AUTH_SECRET=better-auth-secret
GITHUB_CLIENT_ID=github-client-id
GITHUB_CLIENT_SECRET=github-client-secret
GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret
CHROMIUM_PACK_URL=chromium-pack-url
NEXT_PUBLIC_RESUME_TEMPLATES_API_URL=resume-templates-api-url